@use 'variables' as *;
@import url('https://fonts.googleapis.com/css2?family=Yeseva+One&display=swap');

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: $primary-color;
    height: 90px;
    padding: 20px;
    border-bottom: 5px solid $secundary-color;

    span {
        color: white;
    }

    svg {
        color: $white-color;
        font-size: 25px;
    }
}